
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.card {
  margin: 10px;
  background: white;
}

.card-header-image {
  background-size: cover;
}

mat-card-header.mat-card-header {
  padding: 0;
}



.mat-card-title {
  font-size: 18px;
  font-weight: 400;
}

.mat-card-header .card-info {
  margin: 5px 40px;
}

.card-header-image
{
  background-image: url('../../../../assets/transparent-chart.png');
  background-size: cover;
}

.card-map-header-image
{
  background-image: url('../../../../assets/transparent-earth.png');
  background-size: cover;
}

.card-map-header
{
  margin-top: 10px;
  margin-bottom: 10px;
}



.card-icon {
  height: 64px;
}

.card-header {
  max-width: 100%;
  margin-top: 10px;

}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
              0 1px 1px 0 rgba(0,0,0,1), 
              0 1px 3px 0 rgba(0,0,0,1);
}

th.mat-sort-header-sorted {
  color: black;
}