<div style="height:  100%; display: block;">
    <!-- <div>
        <div style="display: inline-block;"> Dashboard </div>
        <div style="display: inline-block;"> Countries </div>
        <div style="display: inline-block;"> Insights </div>

        
    </div> -->
    <div>
        <div  style="display: inline-block; width: 15%; min-width: 15%; float: left;">
            <app-heatmap-card></app-heatmap-card>
            <app-chart-card></app-chart-card>

        </div>
        <div style="display: inline-block; max-width: 65%; width: 65%; max-height: 80%;">
            <app-map-card ></app-map-card>
            <app-global-graph-card></app-global-graph-card>
        </div>
        <div style="display: inline-block; min-width: 20%; float: right;">
            <app-yesterday-card ></app-yesterday-card>
        </div>
    </div>
</div>
<div-spinner></div-spinner>