<div class="container" style="height:  100%; display: block;">
    <!-- <div>
        <div style="display: inline-block;"> Dashboard </div>
        <div style="display: inline-block;"> Countries </div>
        <div style="display: inline-block;"> Insights </div>

        
    </div> -->
    <div>
        <div  style="display: inline-block; width: 15%; min-width: 15%; float: left;">
            <app-global-tabular-card></app-global-tabular-card>
            <app-global-piechart-card></app-global-piechart-card>

        </div>
        <div style="display: inline-block; max-width: 65%; width: 65%; max-height: 80%;">
            <app-global-map-card ></app-global-map-card>
            <app-global-timeseries-card></app-global-timeseries-card>
        </div>
        <div style="display: inline-block; min-width: 20%; float: right;">
            <app-global-summary-card ></app-global-summary-card>
        </div>
    </div>
</div>
<div-spinner></div-spinner>