<div class="container" style="height:  100%; display: block;">
    <!-- <div>
        <div style="display: inline-block;"> Dashboard </div>
        <div style="display: inline-block;"> Countries </div>
        <div style="display: inline-block;"> Insights </div>

        
    </div> -->
<!-- <app-spinner></app-spinner> -->
    <!-- <mat-spinner color="red"></mat-spinner> -->
    <div>
        <div style="display: inline-block; width: 20.5%; min-width: 20.5%; float: left;">
            <app-global-summary-card ></app-global-summary-card>
            <app-global-todaycases-card></app-global-todaycases-card>
                <!-- <app-global-bubblechart-card></app-global-bubblechart-card> -->
        </div>
        
        <div style="display: inline-block; max-width: 64.5%; width: 65%; max-height: 80%;">
            <app-global-map-card ></app-global-map-card>
            <div>
                <app-global-timeseries-card></app-global-timeseries-card>
                <app-global-sevendays-card ></app-global-sevendays-card>
            </div>
        </div>
        <div  style="display: inline-block; width: 15%; min-width: 15%; float: right;">
            <app-global-tabular-card></app-global-tabular-card>
            <app-global-case-ratio-card></app-global-case-ratio-card>
        </div>
    </div>
</div>